body {
    display: inline-block;
    background-color:#D6E4E5;
    font-family: 'Outfit', sans-serif;
    max-width: 1440px;
    min-width: 375px;
}

div {
    background-color: white;
    display: inline-block;
    border: 2px solid whitesmoke;
    border-radius:20px ;
    width: 400px;
    margin:100px 0 100px 300px;
    
}
img {
    border-radius: 10px;
    width: 370px;
    margin: 20px 15px;

    
}

h1 {
    
    line-height: 1.5;
    width: 400px;
    margin: auto ;
    color: hsl(218, 44%, 22%);
    text-align: center;
    
}

p {
    
    color:hsl(220, 15%, 55%);
    width:300px;
    margin:20px auto 30px auto;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
}

