body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

div {
  background-color: white;
  border: 2px solid whitesmoke;
  border-radius:20px ;
  max-width: 320px;
  padding: 1.075rem;
}

@media (min-width:375px) {
    body {
        display: flex;
        place-items: center;
        margin: 333.5px 10px 333.5px 0  ;
    }
    div {
        max-width: 300px;
    }
}

img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;

    
}

h1 {
    font-size: 1.550rem;
    line-height:1.5;
    margin-top: 1.1em;
    color: hsl(218, 44%, 22%);
    text-align: center;
    
}

p {
    
    color:hsl(220, 15%, 55%);
    width:300px;
    margin:20px auto 30px auto;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
}

